.attribution{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 8rem 0rem;
  color: var(--letfooter);
  font-weight: 700;
}
.attribution a{
  color: var(--letfooter);
}
.attribution a:hover{
  color: var(--actfooter);
}
